*.zip
*.docx
*.ppt
*.pptx 

.DS_Store
application.properties

connect_device_package/
요구사항 분석/
도커Test/
Homegarden1/

Home_garden_Server/src/test/resources/application.yml

HomeGardenServer/src/main/java/com/drimaes/homegardenserver/config/secret/Secret.java

HomeGardenServer/src/main/java/com/drimaes/homegardenserver/utils/AES128.java

sampleImgs/

new_user_credentials.csv

HomeGardenRASPB/configKey.py

HomeGardenRASPB/dbConnection.py

HomeGardenServer/src/main/java/com/drimaes/homegardenserver/utils/META-INF/
